@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height:100vh;
    background: rgb(83,83,83);
    background: linear-gradient(177deg, rgba(83,83,83,1) 0%, rgba(11,11,11,1) 100%);
}

.d-none {
    display:none!important;
}

.container {
    max-width:100rem;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.box {
    background-color:#FFFFFF;
    border:2px solid #333333;
    text-align:center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size:1.8rem;
    padding:1.5rem 2rem;
}

.waiting {
    max-width:50rem;
    margin:0 auto;
}

.keycode-info {
    display:flex;
    gap:2rem;
    text-align:center;
    flex-grow:1;
    max-width:60rem;
}

.keycode-info h2 {
    font-size:1.6rem;
    margin-bottom:1rem;
    color:#FFFFFF;
}

.keycode-info .box-key {
    flex:1;
}